Library/
*.bundle
AssetBundles/
Assets/Tools/Unity Bundle Loader/Loaded Bundles
.vs/EFT-SDK/v17/.suo
*.cache
Temp/
.git/
.vs/
/Logs
/Logs
/Assets/Plugins/Tarkov.Assemblies
/unpack_after_setup
Assets/Editor/Choccy.meta
/Assets/Editor/Choccy
/Assets/Editor/DrakiaXYZ
/Assets/Editor/Groovey
/Assets/Scripts
Assets/Editor/DrakiaXYZ.meta
Assets/Editor/Groovey.meta
Assets/Scripts.meta
/Assets/Editor/SDK2/DKC
Assets/Editor/SDK2/DKC.meta
